<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1"
    >

    <title>
        {% block title %}
        Personal Gemini Journal
        {% endblock %}
    </title>

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/main.css') }}"
    >

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/responsive.css') }}"
    >

    {% block head %}{% endblock %}

</head>

<body>

    {% block content %}{% endblock %}

    {% block scripts %}{% endblock %}

</body>

</html>
